body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: #272727;
}

a {
  text-decoration: none;
  padding: 15px 32px;
  color: #00aeff;
  font-size: 18px;
  letter-spacing: 3px;
  border: 2px solid #00aeff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}
a:hover {
  color: white;
}
a:hover .wave {
  top: 0;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% + 24px);
  background: #00aeff;
  transition: all 1s;
  z-index: -1;
}

.wave::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url("./images/wave.png");
  animation: wavy 0.5s linear infinite;
}

@keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 160px;
  }
}
